.App {
  text-align: center;
}

body {
  background-color: #f3f9fe;
}

.App-header {
  background-color: #384144;
  height: 3em;
  padding: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: start;
}
